.mid{
    padding-top: 2cm;
    padding-left: 30px; 

}
.but-add-cust{
    padding-left: 850pt;
    margin-top: 1cm;
    color: white;
    border-color: blue;
}
table {

    background-color: papayawhip;
    width: 1000px;
    text-align: center;
    margin-left: 100px;
}
button {
    padding-left: 10pt;
    background-color: blue;
    color: white;
}

